Makefile
Makefile.in
*.cache
*.o
*.lo
*.la
config.*
configure
aclocal.m4
mkinstalldirs
.libs
.deps
stamp-*
missing
libtool
depcomp
install-sh
ltmain.sh
src/newcdb/newcdb
src/devel-tools/playback
src/devel-tools/sniffer
src/ec2drv/device_enum.h
src/ec2drv/device_table.c
src/ec2tools/ec2-update-fw
src/ec2tools/ec2device
src/ec2tools/ec2readflash
src/ec2tools/ec2readfw
src/ec2tools/ec2test-any
src/ec2tools/ec2writeflash
src/ec2tools/ec3adapters
